
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');
.nav{
    background-color: black;
   
}



.text{
    font-family: roboto;
    color: white;
    background-color: black;
    position: relative;
    left: 30px;
    
}
.side{
    font-family: roboto;
    color: white;
    position: relative;
    left: 800px;
    top: 10px;

}

.sides{
    font-family: roboto;
    color: white;
    position: relative;
    left: 850px;
    top: 10px;
}
.sidesa{
    font-family: roboto;
    color: white;
    position: relative;
    left: 900px;
    top: 10px;
}
.sidesb{
    font-family: roboto;
    color: white;
    position: relative;
    left: 950px;
    top: 10px;
}
.image{
    height: 700px;
    width: 100%;
}
.uui{
    position: absolute;
    top: 250px;
    left: 27px;
    color: white;
}
.xxx{
    position: absolute;
    top: 300px;
    left: 27px;
    color: white;

}
.yyy{
    position: absolute;
    top: 350px;
    left: 27px;
    color: white;
}
.zzz{
    position: absolute;
    top: 400px;
    left: 27px;
    color: white;
}
.aaa{
    position: absolute;
    top: 450px;
    left: 27px;
    color: white;
}
.bbb{
    position: absolute;
    top: 500px;
    left: 27px;
    color: white;
}
.ccc{
    position: absolute;
    top: 550px;
    left: 27px;
    color: white;
}
